{% extends 'base.html' %}
<h1>Geometria</h1>
{% block conteudo %}
<h1>Perímetro e área</h1>

<div class="calculos">

    <div class="card_operacao">
        <i class="icon_equilatero bi bi-triangle-fill"></i>
        <h2>Área do Triângulo Equilátero</h2>
        <form class="form-somar" action="{{ url_for('triangulo_area') }}" method="post">
            <label>
                <input placeholder="lado do triângulo" name="form-n1" class="form-control">
            </label>

            <p class="operador">Triângulo equilatero</p>

            <p class="resultado">
                {% if conta is defined %}
                ((Lado * Lado) * √3) /4 = {{ conta }} metros quadrados
                {% else %}
                {% endif %}
            </p>

            <button type="submit" class="btn btn-success">Calcular</button>
        </form>
        <div class="accordion" id="accordion5">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed bg-secondary" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                        Como calcular?
                    </button>
                </h2>
                <div id="collapse5" class="accordion-collapse collapse" data-bs-parent="#accordion5">
                    <div class="accordion-body">
                        <h4>Área</h4>
                        <p> multiplica sua base pela altura e divide por 2.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="card_operacao">
        <i class="icon_equilatero bi bi-triangle-fill"></i>
        <h2>Perímetro do Triângulo Equilátero</h2>
        <form class="form-somar" action="{{ url_for('triangulo_perimetro') }}" method="post">
            <label>
                <input placeholder="lado do triângulo" name="form-n1" class="form-control">
            </label>

            <p class="operador">Triângulo equilatero</p>

            <p class="resultado">
                {% if perimetro_t is defined %}
                ((Lado * Lado) * √3) /4 = {{ perimetro_t }} metros quadrados
                {% else %}
                {% endif %}
            </p>

            <button type="submit" class="btn btn-success">Calcular</button>
        </form>
        <div class="accordion" id="accordion6">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed bg-secondary" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                        Como calcular?
                    </button>
                </h2>
                <div id="collapse6" class="accordion-collapse collapse" data-bs-parent="#accordion6">
                    <div class="accordion-body">
                        <h4>Perimetro</h4>
                        <p>temos que somar os comprimentos de seus três, lados e multiplicar por 3</p>
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>
{% endblock %}
